
###> symfony/framework-bundle ###
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local
/backend/config/secrets/prod/prod.decrypt.private.php
/backend/public/bundles/
/backend/var/
/backend/vendor/
###< symfony/framework-bundle ###
